<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>S & D Simple News</title>
  <link rel="shortcut icon" href="/images/icon.png" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="header">
    <div style="float: left;"><a href="/"><img src="/images/home.png" /></a></div>
    <h3>Full Story</h3>
  </div>

  <div class="wrapper">
    <h3>
      <center><%=title%></center>
    </h3>

    <% news.forEach(post => {%>
    <p><%=post.split(",").join("\n")%></p>
    <% })%>

    <p>
      <strong>Source:</strong>
      <a href="<%=link%>" rel="nofollow" target="_blank"><%=link%></a>
    </p>

  </div>
  <div class="footer">S & D Simple News | github: @Sajjal</div>
</body>

</html>