body {
  margin: 0px;
  padding: 10px 0;
  background-color: #dfe1e8;
  font-family: "Reem Kufi", sans-serif;
}
.header {
  margin: 3px auto;
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 60px;
  border-radius: 4px;
  background: #444444;
  color: #f8f8f8;
  margin-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
}
.header a {
  text-decoration: none;
  color: #fff;
}
img {
  padding: 12px 10px;
}
.wrapper {
  width: 1200px;
  background: #dfe1e8;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: justify;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  overflow: hidden;
  position: relative;
  color: #444444;
}
.wrapper a {
  text-decoration: none;
  color: #444444;
}
.row {
  display: flex;
}
.column {
  padding: 10px;
  flex: 50%;
}
.line {
  margin: 15px 15px;
  border-left: 1px dashed #444444;
}
.footer {
  margin: 3px auto;
  background: #444444;
  color: #f8f8f8;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  padding: 12px 0;
  position: relative;
  width: 1200px;
  height: 20px;
  text-align: center;
  border: 1px solid #7d7c7a;
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 350px;
  }
  .header {
    max-width: 350px;
  }
  .footer {
    max-width: 350px;
  }
}
